# TRUMP DATASET CREATION 

For Donal Trump dataset creation I have found a record of all his Tweets from the Trump Archive: 

https://www.thetrumparchive.com/?dates=%5B%222020-01-01%22%2C%222020-11-01%22%5D

This file contains Donald Trump's tweets from 2009-05-04 to 2020-11-06, which is in line with the initial idea of scraping as much content possibile for each of the personas. 

Since for the tycoon, Twitter data goes well back in time, I am not expecting many differences in Likes/Retweets counts, hence I am not scraping Twitter for any update information.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Trump.csv')

In [3]:
df.shape

(55090, 8)

In [4]:
df.head()

,id,text,isRetweet,isDeleted,device,favorites,retweets,date
0,98454970654916608,Republicans and Democrats have both created ou...,f,f,TweetDeck,49,255,2011-08-02 18:07:48
1,1234653427789070336,I was thrilled to be back in the Great city of...,f,f,Twitter for iPhone,73748,17404,2020-03-03 01:34:50
2,1218010753434820614,RT @CBS_Herridge: READ: Letter to surveillance...,t,f,Twitter for iPhone,0,7396,2020-01-17 03:22:47
3,1304875170860015617,The Unsolicited Mail In Ballot Scam is a major...,f,f,Twitter for iPhone,80527,23502,2020-09-12 20:10:58
4,1218159531554897920,RT @MZHemingway: Very friendly telling of even...,t,f,Twitter for iPhone,0,9081,2020-01-17 13:13:59

In [5]:
df.date = pd.to_datetime(df.date)

In [6]:
df2 = df.drop_duplicates(subset = 'id')
df2.shape

(55090, 8)

In [7]:
df.groupby([df['date'].dt.year])['id'].count()

date
2009       56
2010      142
2011      773
2012     3531
2013     8144
2014     5784
2015     7536
2016     4225
2017     2602
2018     3568
2019     7818
2020    10911
Name: id, dtype: int64