# KIM KARDASHIAN DATASET CREATION

In [1]:
import pandas as pd

### Scraping Twitter

In [2]:
import snscrape.modules.twitter as sntwitter
import csv
maxTweets = 40000

csvFile = open('Kim.csv', 'a', newline='', encoding='utf8')

csvWriter = csv.writer(csvFile)
csvWriter.writerow(['id','date','tweet',])

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:@KimKardashian until:2020-11-01-filter:replies').get_items()):
    if i > maxTweets :
        break
    csvWriter.writerow([tweet.id, tweet.date, tweet.content])

csvFile.close()

In [3]:
kim = pd.read_csv('Kim.csv')
kim.shape

(29114, 3)

In [4]:
kim = kim.drop_duplicates(subset = 'id')
kim.shape

(29114, 3)

In [6]:
kim.date = pd.to_datetime(kim.date)

In [7]:
kim.groupby([kim['date'].dt.year])['id'].count()

date
2008       1
2009    2738
2010    3431
2011    3745
2012    4284
2013    2296
2014    1887
2015    2069
2016    1581
2017    1845
2018    2147
2019    1669
2020    1421
Name: id, dtype: int64

### Likes and Retweets

In [8]:
links_to_scrape = kim['id'].tolist()

In [9]:
total_count = len(links_to_scrape)
chunks = (total_count - 1) // 50 + 1

In [10]:
import tweepy

consumer_key = 
consumer_secret = 
access_token = 
access_token_secret = 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [11]:
def fetch_tw(links_to_scrape):
    
    list_of_tw_status = api.statuses_lookup(links_to_scrape, tweet_mode= "extended")
    
    empty_data = pd.DataFrame()
    
    for status in list_of_tw_status:
            tweet_elem = {"tweet_id": str(status.id),
                          "tweet":status.full_text,
                          'likes': status.favorite_count, 
                          'retweets': status.retweet_count,
                          "date":status.created_at}
            empty_data = empty_data.append(tweet_elem, ignore_index = True)
            
    empty_data.to_csv("kim_with_likes.csv", mode="a")

In [12]:
for i in range(chunks):
        batch = links_to_scrape[i*50:(i+1)*50]
        result = fetch_tw(batch)

In [13]:
kim_likes = pd.read_csv("kim_with_likes.csv")

In [14]:
kim_likes.shape

(29696, 6)

In [15]:
kim_likes.head(10)

,Unnamed: 0,date,likes,retweets,tweet,tweet_id
0,0.0,2020-10-30 00:22:22,1419.0,29.0,ðŸ¤£ðŸ¤£ https://t.co/FwPbYzIsZ6,1321970667424808960
1,1.0,2020-10-29 23:56:45,4027.0,76.0,Iâ€™m here early! I canâ€™t wait to live tweet wit...,1321964221261881349
2,2.0,2020-10-30 20:03:58,67849.0,1591.0,ðŸŒŠ https://t.co/fNADkPQgTl,1322268024649342976
3,3.0,2020-10-26 16:01:19,6183.0,143.0,JUST DROPPED: @SKIMS Stretch Velvet â€” barely-t...,1320757409934123010
4,4.0,2020-10-29 19:58:56,11541.0,314.0,Night Swim https://t.co/GGjB8w2Kp3,1321904372624855041
5,5.0,2020-10-30 00:16:52,1201.0,28.0,It was hard in the beginning but our film crew...,1321969281681207296
6,6.0,2020-10-30 20:03:28,64653.0,2395.0,ðŸŒŠ https://t.co/eJifPRYMef,1322267899763961856
7,7.0,2020-10-29 23:23:48,57573.0,3267.0,I canâ€™t even describe what this meant to me an...,1321955928522944513
8,8.0,2020-10-29 19:57:51,9608.0,234.0,Night Swim https://t.co/C1BtTkE1wK,1321904100380971013
9,9.0,2020-10-30 00:33:16,59.0,4.0,@planetKourt Have a good night!,1321973410843496448

In [16]:
kim_likes = kim_likes.drop_duplicates()
kim_likes.shape

(29115, 6)